.transactionsHistoryContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  align-items: flex-start;
}

.transactionsHistoryContainer h1 {
  color: white;
  margin-top: 2rem;
}