.transactionsHistoryContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-items: flex-start;
  position: absolute;
  right: 1rem;
}

.transactionsHistoryContainer h1 {
  color: white;
  margin-top: 2rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}