.historyCard {
  margin: 1rem;
  background-color: var(--darkGrey);
  width: 400px;
  border-radius: 12px;
  padding: 1rem;
}


.cardItem {
  color: var(--lighterGrey);
}

.cardItem h3 {
  color: var(--red);
  font-weight: 400;
  margin-bottom: 2rem;
}

.historyContainer a {
  text-decoration: none;
}

.historyContainer h2 {
  text-align: center;
  color: var(--red);
}

.historyContainer {
  width: 100%;
  height: 50vh;
  margin-top: 4rem;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
}