.profileContainer {
  width: 20%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.515);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 90%;
  margin-top: 2rem;
  border-radius: 12px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.navigation {
  font-size: 1.25rem;
  width: 100%;
}


.list {
  list-style: none;
  width: 100%;
  text-align: start;
  padding: 0.5rem 1rem;
  transition: 0.5s ease-in-out;
}

.buttonStyle {
  text-decoration: none;
  color: var(--darkGrey);
  width: 100%;
  transition: 0.5s ease-in-out;
}

.active {
  background-color: var(--darkerRed);
  transition: 0.3s ease-in-out;
  width: 100%;
}

.active span {
  color: white;
  transition: 0.5s ease-in-out;
  padding: 1rem;
}